<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, exercitationem vitae illo error quaerat ducimus tempora officiis eveniet in temporibus dicta atque veritatis quas accusantium, amet molestias dolores ullam nulla.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, exercitationem vitae illo error quaerat ducimus tempora officiis eveniet in temporibus dicta atque veritatis quas accusantium, amet molestias dolores ullam nulla.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, exercitationem vitae illo error quaerat ducimus tempora officiis eveniet in temporibus dicta atque veritatis quas accusantium, amet molestias dolores ullam nulla.</p>

        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>